<div class="container">
    <div class="row">
      <div class="col col-md-12">
        <table *ngIf="customers" class="table">
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Password</th>
            <th>Remove</th>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers" [ngStyle]="{'background-color': customer.color}">
              <td>
                <input type="text" value="{{customer.id}}" readonly disabled>
              </td>
              <td>
                <input type="text" value="{{customer.compName}}" readonly disabled>
              </td>
              <td>
                <input type="text" [(ngModel)]="customer.password" (change)="customer.toUpdate = true;customer.color = '#ccf9e2'">
              </td>
              <td>
                <input type="checkbox" [(ngModel)]="customer.toRemove" >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>